html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}



body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

#pageFooter:after {
    font-family: Alegreya;
    counter-increment: page;
    content:"Page " counter(page);
    left: 0; 
    top: 100%;
    white-space: nowrap; 
    z-index: 20px;
    -moz-border-radius: 5px; 
    -moz-box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
    font-style: bold;
    
     color: #000;
  }

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

<style>
    p.small {
        line-height: 0.2;
    }
    p.big {
        line-height: 1.8;
    }
</style>

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    display: block;
    margin: 25px 25px;
    max-width: 100%;
    border: 2px solid black;
    outline-color: red;
}

@font-face 
{
    font-family: TheDarkestNight;
    src: url(Fonts/TheDarkestNight.ttf);
    font-style: bold;
    font-weight: 100;
}
@font-face 
{
    font-family: Royal;
    src: url(Fonts/Royal.ttf);
    font-style: bold;
    font-weight: 200;
}
@font-face 
{
    font-family: Alegreya;
    src: url(Fonts/AlegreyaSC-Regular.otf);
    font-style: bold;
    font-weight: 200;
}
@font-face 
{
    font-family: MrBedfort;
    src: url(Fonts/MrBedfort-Regular.ttf);
    font-style: bold;
    font-weight: 200;
}

qq{
    font-family: MrBedfort;
    color: #000;
    font-weight: 200;
    line-height: 1.3; 
}

p{
    font-family: NewRomanTimes;
    color: #000;
    font-weight: 200;
    line-height: 1.3;
    font-size: 22px;
    text-indent:50px;
}
i{
    font-family: NewRomanTimes;
    color: #000;
    font-weight: 200;
    line-height: 1.3; 
    font-style: italic;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}